@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-Black.otf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-BlackItalic.otf);
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-ExtraBold.otf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-ExtraBoldItalic.otf);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-ExtraLight.otf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-ExtraLightItalic.otf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-Light.otf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-LightItalic.otf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-Medium.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-MediumItalic.otf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-RegularItalic.otf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-SemiBold.otf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-SemiBoldItalic.otf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-Thin.otf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(/res/fonts/Metropolis/Metropolis-ThinItalic.otf);
    font-weight: 100;
    font-style: italic;
}